/* 
#363778 Purple
#9FDDF5 Light Blue 
#2484C5 Dark Blue
*/

@font-face {
    font-family: Itim;
    src: url(fonts/Itim-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    background-color: #9FDDF5;
}

.main {
    background-color: #2484C5;
    margin: 100px auto;
    border: 2px solid #363778;
    border-radius: 20px;
    width: 300px;
    height: 480px;
    padding: 10px;
    box-shadow: -5px 5px 4px #3CBAE8;
}

.calc-view {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.display {
    border: 2px solid #363778;
    border-radius: 20px;
    background-color: #9FDDF5;
    height: 80px;
    padding: 10px;
    overflow: hidden;
}

#main-input {
    width: 100%;
    font-family: Itim;
    background-color: #9FDDF5;
    border: none;
    font-size: 35px;
    color: #363778;
}

#main-input:focus {
    border: none;
    outline: none;
}

#calc-data {
    margin: 5px;
    font-family: Itim;
    font-size: 20px;
    color: #363778;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 15px 0 0 0;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9FDDF5;
    color: #363778;
    font-family: Itim;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    padding: 20px;
    font-size: 25px;
    border: 2px solid #363778;
    cursor: pointer;
    transition: .2s;
}   

button:hover {
    background-color: #7cc1dc;
}

button:active {
    border: 2px solid #fff;
    color: #fff;
    transition: .2s;

}
